<launch>

  <!-- Launch the joystick -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" type="string" value="/dev/input/js0"/>
  </node>

  <!-- Launch the joystick teleop code -->
  <node pkg="kuri_teleop" type="joystick_teleop" name="joystick_teleop" output="screen"/>

  <!-- Launch the display heading arrow node  -->
  <node pkg="kuri_teleop" type="display_heading_arrow" name="display_heading_arrow" output="screen"/>

  <!-- Launch RVIZ to visualize the camera and heading arrow -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find kuri_teleop)/rviz/kuri_teleop.rviz" />

</launch>
