<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_file" default="$(find kuri_navigation)/maps/empty_map.yaml"/>

    <!-- Kuri motor control, depthsensor, chest LED, and other sensors-->
    <include file="$(find mobile_base_driver)/launch/kuri_drive.launch"/>

    <!-- Kuri's eye camera -->
    <include file="$(find madmux)/launch/madmux_daemon.launch"/>

    <!-- Kuri's face recognition -->
    <include file="$(find vision_bridge)/launch/vision_bridge.launch"/>

    <!-- Audio processing pipeline -->
    <include file="$(find audio_realtime)/launch/audio_realtime.launch"/>
    
    <!-- Transcription service -->
    <include file="$(find audio_realtime)/launch/audio_voice_delegate.launch">
        <arg name="soundhound_client_id" value="-1" />
        <arg name="soundhound_user_id" value="test" />
        <arg name="soundhound_client_key" value="-1" />
    </include>

    <!-- Volume manager -->
    <include file="$(find kuri_api)/launch/volume_interface.launch"/>

    <node name="safety_controller" pkg="kuri_navigation" type="safety_controller" />

    <!-- Autonomous Navigation -->
    <include file="$(find kuri_navigation)/launch/may_nav.launch">
        <arg name="map_file" value="$(arg map_file)" />
    </include>

</launch>
