<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_file" default="$(find kuri_navigation)/maps/empty_map.yaml"/>
    <arg name="use_navigation" default="true"/>
    <arg name="use_transcription" default="false"/>
    <arg name="use_vision" default="false"/>
    <arg name="use_camera" default="true" />
    <arg name="use_web_teleop" default="false" />
    <!-- Kuri motor control, depthsensor, chest LED, and other sensors-->
    <include file="$(find mobile_base_driver)/launch/kuri_drive.launch"/>

     <!--  madmux and ROS interface for the eye camera -->
    <include if="$(arg use_camera)" file="$(find kuri_camera)/launch/kuri_camera_publisher.launch"/>

    <!-- Kuri's face recognition -->
    <include if="$(arg use_vision)" file="$(find vision_bridge)/launch/vision_bridge.launch"/>

    <!-- Audio processing pipeline -->
    <include file="$(find audio_realtime)/launch/audio_realtime.launch"/>

    <!-- Transcription service -->
    <include if="$(arg use_transcription)" file="$(find audio_realtime)/launch/audio_voice_delegate.launch">
        <arg name="soundhound_client_id" value="-1" />
        <arg name="soundhound_user_id" value="test" />
        <arg name="soundhound_client_key" value="-1" />
    </include>

    <include if="$(arg use_web_teleop)" file="$(find gizmo)/launch/gizmo_webrtc.launch"/>

    <!-- Volume manager -->
    <include file="$(find kuri_api)/launch/volume_interface.launch"/>

    <node name="safety_controller" pkg="kuri_navigation" type="safety_controller" />

    <!-- Autonomous Navigation -->
    <include if="$(arg use_navigation)" file="$(find kuri_navigation)/launch/may_nav.launch">
        <arg name="map_file" value="$(arg map_file)" />
    </include>

    <!-- Publish Kuri's bumper readings as a pointcloud, to be incorporated in local costmaps  -->
    <node pkg="kuri_navigation" type="bumper_to_pointcloud" name="bumper_to_pointcloud" />

</launch>
