<launch>
  <rosparam command="load" file="$(find kuri_person_tracking)/config/ros.yaml"/>

  <rosparam file="$(find kuri_camera)/cfg/camera_calibration_parameters.yaml" command="load"/>

  <node pkg="kuri_person_tracking" type="person_detection.py" name="bounding_box_publisher" output="screen" cwd="node"/>
</launch>
